In [4]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
import sklearn as skl

In [5]:
import sqlalchemy
from sqlalchemy import create_engine, func
from sqlalchemy.orm import session
from configparser import ConfigParser

In [93]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
parser = ConfigParser()
_ = parser.read("config")
password = parser.get('my_db', 'password')

In [8]:
string = f"postgresql://postgres:{password}@localhost/group-project"
engine = create_engine(string)

/Users/mollysprecher/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [9]:
#%%sql 
#SELECT * FROM real

In [10]:
raw_df = pd.read_sql('SELECT * FROM real', engine)
raw_df.head(5)

,number,player,team,age,season,gp,w,l,min_column,pts,...,ast,tov,stl,blk,pf,fp,dd2,td3,plus_minus,rankings
0,0,Aaron Gordon,ORL,24,2019-20,62,30,32,32.5,14.4,...,3.7,1.6,0.8,0.6,2.0,31.9,20.0,1.0,-1.1,80.0
1,1,Aaron Holiday,IND,23,2019-20,66,42,24,24.5,9.5,...,3.4,1.3,0.8,0.2,1.8,19.3,3.0,0.0,1.7,76.0
2,2,Abdel Nader,OKC,26,2019-20,55,37,18,15.8,6.3,...,0.7,0.8,0.4,0.4,1.4,11.1,0.0,0.0,-1.5,71.0
3,3,Adam Mokoka,CHI,21,2019-20,11,3,8,10.2,2.9,...,0.4,0.2,0.4,0.0,1.5,5.5,0.0,0.0,4.5,68.0
4,4,Admiral Schofield,WAS,23,2019-20,33,9,24,11.2,3.0,...,0.5,0.2,0.2,0.1,1.5,6.3,0.0,0.0,-1.7,71.0

In [11]:
train_seasons = raw_df[(raw_df.season != '2019-20')]
train_seasons
test_season = raw_df[(raw_df.season == '2019-20')]

In [12]:
X = train_seasons.copy()
X = X.drop("rankings", axis=1)
X = X.drop("player", axis=1)
X = X.drop("team", axis=1)
X = X.drop("season", axis=1)

In [13]:
y = train_seasons["rankings"].ravel()
y[:5]

array(['81.0', '73.0', '70.0', '85.0', '77.0'], dtype=object)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [15]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
rf_model = RandomForestClassifier(n_estimators=128, random_state=2)

In [17]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [18]:
predictions = rf_model.predict(X_test_scaled)

In [19]:
test_df = test_season.copy()
test_df = test_df.drop("player", axis=1)
test_df = test_df.drop("team", axis=1)
test_df = test_df.drop("season", axis=1)
test_df.head()
test_x = test_df.drop("rankings", axis=1)
test_y = test_df['rankings'].ravel()

In [20]:
testx_scaler = scaler.fit(test_x)

X_test_scaled = testx_scaler.transform(test_x)

In [21]:
current_predictions = rf_model.predict(X_test_scaled)

In [22]:
comparison_df = pd.DataFrame(current_predictions, columns=["predictions"])
comparison_df['real'] = test_y
comparison_df.head(20)

new_df = raw_df.merge(comparison_df, left_index=True, right_index=True)
new_df = new_df.drop('real', axis=1)
new_df.head()

,number,player,team,age,season,gp,w,l,min_column,pts,...,tov,stl,blk,pf,fp,dd2,td3,plus_minus,rankings,predictions
0,0,Aaron Gordon,ORL,24,2019-20,62,30,32,32.5,14.4,...,1.6,0.8,0.6,2.0,31.9,20.0,1.0,-1.1,80.0,81.0
1,1,Aaron Holiday,IND,23,2019-20,66,42,24,24.5,9.5,...,1.3,0.8,0.2,1.8,19.3,3.0,0.0,1.7,76.0,76.0
2,2,Abdel Nader,OKC,26,2019-20,55,37,18,15.8,6.3,...,0.8,0.4,0.4,1.4,11.1,0.0,0.0,-1.5,71.0,73.0
3,3,Adam Mokoka,CHI,21,2019-20,11,3,8,10.2,2.9,...,0.2,0.4,0.0,1.5,5.5,0.0,0.0,4.5,68.0,72.0
4,4,Admiral Schofield,WAS,23,2019-20,33,9,24,11.2,3.0,...,0.2,0.2,0.1,1.5,6.3,0.0,0.0,-1.7,71.0,69.0

In [149]:
new_df.to_csv('/Users/mollysprecher/Desktop/Classwork/group/data.csv', index=False)

In [148]:
new_df.to_sql(name='projections_2020', con=engine, if_exists='replace', method='multi')